<%- include("partials/header"); -%>
    <h1 class="text-center">Contact</h1>
    <!-- <i> -->
        <ul>
          <li>
            <h3><b>Email ID -</b> divyanshu.gupta.cer20@itbhu.ac.in</h3>
          </li>
          <!-- <br> -->
          <li>
            <h3><b>Contact No. - </b>(+91) 8529146345</h3>
        </li>
          <li>
            <a href="https://www.linkedin.com/in/divyanshu-gupta-683079201/"><h3><b>LinkedIn</b></h3></a>
          </li>
        </ul>
    <!-- </i> -->
<%- include("partials/footer"); -%>
